{% block center_column %}
    <h1>
        Add Album
    </h1>
    <form action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}