{% extends 'base.twig' %}
{% block title %}Edit category{% endblock %}

{% block content %}
    <h1>
        Add product
    </h1>
    <form action="{{ url('/categories/edit', {'id': categories.id}) }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}