{% extends 'base.twig' %}
{% block title %}Edit product{% endblock %}

{% block content %}
    <h1>
        Update product
    </h1>
    <form action="{{ url('/products/edit', {'id': product.id}) }}" method="post">
        {{ form_widget(form) }}
        <input class="btn btn-defaul" type="submit" name="Send">
    </form>
{% endblock %}