{% extends 'base.twig' %}
{% block title %}Edit producent{% endblock %}

{% block content %}
    <h1>
        Update producent
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input class="btn btn-defaul" type="submit" name="submit">
    </form>
{% endblock %}