{% extends 'base.twig' %}
{% block title %}Search by categories{% endblock %}

{% block content %}

<p>Or type phrase you're loking for:</p>

<form action="" method="post">
    {{ form_widget(form) }}
    <input class="btn btn-defaul" type="submit" name="submit">
</form>


<p style="margin-top:20px;">Search by one of ours categories:</p>
<form action="" method="post">
    {{ form_widget(form2) }}
    <input class="btn btn-defaul" type="submit" name="submit">
</form>
{% endblock %}