{% extends 'base.twig' %}
{% block title %}Search by categories{% endblock %}

{% block content %}

Or type phrase you're loking for:

    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>


Search by one of ours categories:
{%  if categories|length > 0 %}
	{% for category in categories %}	
 		<p>	<a href="{{url('/search/by/', {'id': category.id})}}">{{ category.name|e }}</a></p>
 	{% endfor %}
{% endif %}
{% endblock %}