{% extends 'base.twig' %}
{% block title %}Search by categories{% endblock %}

{% block content %}
Wyszukaj po jednej z nasszych kategorii:
{%  if categories|length > 0 %}
	{% for category in categories %}	
 		<p>	<a href="{{url('/search/by/', {'id': category.id})}}">{{ category.name|e }}</a></p>
 	{% endfor %}
{% endif %}
{% endblock %}