{% block title %}Login{% endblock %}

{% block content %}
    <h1>
        Login
    </h1>
    Błędne hasło lub login, spróbuj ponownie
    <form action="{{ url('/auth/login') }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}