{% extends 'base.twig' %}

{% block content %}

    {% for flashMessage in app.session.getFlashBag.get('message') %}
            {{ flashMessage.content }}
    {% endfor %}
    <form action="" method="post" >
        {{ form_widget(form) }}
        <input class="btn btn-defaul" type="submit" name="Send">
    </form>
{% endblock %}