{% extends 'base.twig' %}
{% block title %}Update {% endblock %}

{% block content %}
    <h1>
        Update your informations
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}