{% extends 'base.twig' %}

{% block content %}

Your registration succeeded. You can now go to check our <a href="{{ url('/products/') }}" title="products">products</a> or <a href="{{ url('/search/') }}" title="products">search</a> them on you own.

{% endblock %}